<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin?token=<%= token %>">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <!-- End Components Nav -->

    <li class="nav-item">
      <!-- <a
        class="nav-link collapsed"
        data-bs-target="#forms-nav"
        data-bs-toggle="collapse"
        href="#"
      >
         <i class="bi bi-journal-text"></i><span>Appointment</span
        ><i class="bi bi-chevron-down ms-auto"></i> 
      </a> -->
      <ul
        id="forms-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <!-- <li>
          <a href="/rescheduledA?token=<%= token %>">
            <i class="bi bi-circle"></i><span>Reschedule Appointment</span>
          </a>
        </li> -->
        <!-- <li>
          <a href="/canceled?token=<%= token %>">
            <i class="bi bi-circle"></i><span>Cancel Appointment</span>
          </a>
        </li> -->
        <!-- <li>
          <a href="/SettingAvailability?token=<%= token %>">
            <i class="bi bi-circle"></i><span>Setting Availability</span>
          </a>
        </li> -->
      </ul>
    </li>
    <!-- End Forms Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-people-fill"></i><span>User</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tables-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <!-- <li>
          <a href="Adduser.html">
            <i class="bi bi-person-plus-fill"></i><span>Add User</span>
          </a>
        </li> -->
        <li>
          <a href="/manageUser?token=<%= token %>">
            <i class="bi-person-lines-fill"></i><span>Manage User</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Tables Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/profile?token=<%= token %>">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
