<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Appointment Scheduling Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <!-- Vendor CSS Files -->
  <link href="sec/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="sec/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="sec/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="sec/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="sec/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="sec/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="sec/vendor/simple-datatables/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="addapp.css">
  <title>Booking Appointment Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <!-- Template Main CSS File -->
  <link href="sec/css/style.css" rel="stylesheet" />
</head>

<body>
  <section>
    <!-- ======= Header ======= -->
    <%- include('../partials/nav.ejs')%>
      <!-- End Header -->

      <!-- ======= Sidebar ======= -->
      <%- include('../partials/side.ejs')%>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <!-- <div class="card">
            <div class="card-header"> -->

        <!-- </div> -->
        <!-- <div class="card-body">
              
            </div> -->
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="card form-container">
                <div class="card-body">
                  <form action="/submit_appointment?token=<%= token %>" method="post" class="appointment-form">
                    <h2 class="form-title">Book an Appointment</h2>
                    <div class="form-group">
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <% if (user) { %>
                        <input type="text" id="name" name="name" value="<%= user.name %>" required>
                        <% } else { %>
                        <input type="text" id="name" name="name" required>
                        <% } %>
                      </div>
                      <div class="form-group">
                        <label for="email">Email:</label>
                        <% if (user) { %>
                        <input type="email" id="email" name="email" value="<%= user.email %>" required>
                        <% } else { %>
                        <input type="email" id="email" name="email" required>
                        <% } %>
                      </div>
                      <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" required>
                      </div>
                      <div class="form-group">
                        <label for="time">Time:</label>
                        <select id="time" name="time" required>
                          <option value="" selected disabled>Select a time</option>
                          <option value="9:00 AM - 10:00 AM">9:00 AM - 10:00 AM</option>
                          <option value="10:00 AM - 11:00 AM">10:00 AM - 11:00 AM</option>
                          <option value="11:00 AM - 12:00 PM">11:00 AM - 12:00 PM</option>
                          <option value="12:00 PM - 1:00 PM">12:00 PM - 1:00 PM</option>
                          <option value="1:00 PM - 2:00 PM">1:00 PM - 2:00 PM</option>
                          <option value="2:00 PM - 3:00 PM">2:00 PM - 3:00 PM</option>
                          <option value="3:00 PM - 4:00 PM">3:00 PM - 4:00 PM</option>
                        </select>
                      </div>
                      <input type="submit" value="Submit" class="submit-btn">
                    </div>
                  </form>                                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Bootstrap JS -->
  <%- include('../partials/footer.ejs')%>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>



<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script> 
 // Get tomorrow's date
const today = new Date();
const tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);
// Set the minimum and maximum selectable dates for the date input field
const maxSelectableDate = new Date(today.getTime() + 7 * 24 * 60 * 60 * 1000);
const dateInput = document.getElementById('date');
dateInput.min = tomorrow.toISOString().split('T')[0];
dateInput.max = maxSelectableDate.toISOString().split('T')[0];
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
  integrity="sha384-tvzOxTmsTewTqb8dUGDe9OKOsw7f+mj3NqV7eK0dHv0b/Oh2QKjVl+AVXIXlC1Kk" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="sec/vendor/apexcharts/apexcharts.min.js"></script>
<script src="sec/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="sec/vendor/chart.js/chart.umd.js"></script>
<script src="sec/vendor/echarts/echarts.min.js"></script>
<script src="sec/vendor/quill/quill.min.js"></script>
<script src="sec/vendor/simple-datatables/simple-datatables.js"></script>
<script src="sec/vendor/tinymce/tinymce.min.js"></script>
<script src="sec/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="sec/js/main.js"></script>
</body>

</html>